name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Upload dist to VPS (temp folder)
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "dist"
          target: "/opt/main_new"

      - name: Atomic Replace Folder
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "dist/*"
          target: "/opt/main_new"
          overwrite: true
          script: |
            rm -rf /opt/main_old
            mv /opt/main /opt/main_old || true
            mv /opt/main_new/dist /opt/main
            rm -rf /opt/main_new
