name: Deploy Vite App to VPS

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy dist to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 75.119.159.246
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "dist/*"
          target: "/opt/main/dist"
